/src/core/models/t5/pytorch/pytorch_model.bin
/src/core/models/t5/pytorch/spiece.model
/src/core/models/t5/safe/model.safetensors
/src/core/models/t5/safe/spiece.model
/src/core/models/gpt2/model.safetensors
/src/core/models/gpt-neo/flax/flax_model.msgpack
/src/core/models/gpt-neo/pytorch/pytorch_model.bin
/src/core/models/gpt-neo/rust/rust_model.ot
/src/core/models/gpt-neo/safe/model.safetensors
/src/core/models/openllama/pytorch_model-00001-of-00002.bin
/src/core/models/openllama/pytorch_model-00002-of-00002.bin
/src/core/models/falcon/7b/model-00001-of-00002.safetensors
/src/core/models/falcon/7b/model-00002-of-00002.safetensors
